header img {
    float: left;
}
header h1{
    font: size 220%;
    color: orange;
    text-shadow:-2px -2px 4px black; 
}
.first_letter::first-letter{
    font-size: 200%;
}
body {
    border-left: 4px double #000;
    padding-left: 20px;
}
a:visited{
    color: black;
}
a:hover , a:focus {
color: green;
}
#orange{color:orange;}
.bold{font-weight: bold;}